################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/TestProj1/bin/Debug
/TestProj1/obj/Debug
